section
   h2.underline Challenges
   
   .break
      h3 Multiple Platforms
      
      ul
         li Mobile apps (PhoneGap, Xamarin)
         li Browser support
         li HTML5 + progressive enhancement
         li Responsive design