section
	h1 Beyond the Scores
	
	.break
		a(href='https://jeremyalan.github.io/BeyondTheScores-2013') https://jeremyalan.github.io/BeyondTheScores-2013

	.break
		p Jeremy Mason
		p jeremy@beyondthescores.com
		br

		p Steve Odell
		p steve@beyondthescores.com
